.reply-notification {
  position: absolute;
  right: 18px;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}


    .tab {
      line-height: 1;
    }
    
    .tab-label {
      line-height: 11px;
      vertical-align: top;
      font-size: 11px;
    }

    .profile-wrapper {
      padding: 16px 10px 0 10px;
    }

    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      background-color: #ccc;
    }

    .profile-name {
      font-size: 18px;
      padding: 4px 0 2px 0;
    }

    .profile-email {
      font-size: 15px;
      opacity: 0.4;
    }

    .switch--list-item {
      margin-right: 0px;
    }

    .settings-header {
      font-weight: 500;
      font-size: 14px;
      opacity: 0.4;
      padding: 10px 0 0px 10px;
      margin-bottom: -4px;
    }

    .settings-list {
      margin-top: 10px;
    }

    .item {
      padding: 10px;
      line-height: 1;
    }
    .item-thum {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
    }
    .item-title {
      font-size: 15px;
      font-weight: 500;
    }
    .item-desc {
      font-size: 14px;
      color: #666;
      line-height: 1.3;
      margin: 4px 0 0 0;
      padding: 0 30px 0 0;
    }
    .item-label {
      font-size: 12px;
      color: #999;
      float: right;
    }