<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.socialmedia" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Social Media</name>
  <description>Social Media Application</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">
        Apache Cordova Team
    </author>
  <content src="home.html" />
  <access origin="*" />
  <vs:plugin name="nl.x-services.plugins.launchmyapp" version="3.2.2" />
  <vs:plugin name="org.apache.cordova.inappbrowser" version="0.6.1-dev" />
  <vs:platformSpecificValues />
</widget>