<ons-page modifier="menu-page">
    <ons-toolbar modifier="transparent">
        <div class="right">
            <ons-toolbar-button class="menu-close" ng-click="login.menu.close()">
                Close
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="authorize('Facebook')">
            <ons-icon icon="fa-facebook"></ons-icon>
            Connect with Facebook
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="authorize('Google')">
            <ons-icon icon="fa-google-plus"></ons-icon>
            Connect with Google+
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="authorize('Twitter')">
            <ons-icon icon="fa-twitter"></ons-icon>
            Connect with Twitter
        </ons-list-item>
    </ons-list>

    <br/>
</ons-page>