.onl_socialButtons .onl_btn-facebook {background: #3b5998;border-color:#172d5e}
.onl_socialButtons .onl_btn-twitter {background: #00aced;border-color:#043d52}
.onl_socialButtons .onl_btn-google-plus {background: #c32f10;border-color:#6b1301}
.onl_socialButtons .onl_btn-soundcloud {background: #ff8800;border-color:#c73e04}
.onl_socialButtons .onl_btn-github {background: #666666;border-color:#333333}
.onl_socialButtons .onl_btn-steam {background: #878787;border-color:#292929}
.onl_socialButtons .onl_btn-pinterest {background: #cc2127;border-color:#780004}
.onl_socialButtons .onl_btn-vimeo {background: #1ab7ea;border-color:#162221}
.onl_socialButtons .onl_btn-lastfm {background: #c3000d;border-color:#5e0208}
.onl_socialButtons .onl_btn-yahoo {background: #400191;border-color:#230052}
.onl_socialButtons .onl_btn-vk {background: #45668e;border-color:#1a3352}
.onl_socialButtons .onl_btn-spotify {background: #7ab800;border-color:#3a5700}
.onl_socialButtons .onl_btn-linkedin {background: #0976b4;border-color:#004269}
.onl_socialButtons .onl_btn-stumbleupon {background: #eb4924;border-color:#943019}
.onl_socialButtons .onl_btn-tumblr {background: #35465c;border-color:#142030}
.onl_socialButtons .onl_btn-foursquare {background: #0732a2;border-color:#142030}
.onl_socialButtons .onl_btn-yelp {background: red;border-color:#142030}
.onl_socialButtons .onl_btn-skype {background: #00AFF0;border-color:#142030}

